@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Syncrone;
  src: url(./fonts/Syncrone-Oblique.ttf);
}
@font-face {
  font-family: Involve-Med;
  src: url(./fonts/Involve-Medium.ttf);
}
@font-face {
  font-family: Involve-Bold;
  src: url(./fonts/Involve-Bold.ttf);
}
@font-face {
  font-family: Involve-Regular;
  src: url(./fonts/Involve-Regular.ttf);
}
@font-face {
  font-family: Involve-Semibold;
  src: url(./fonts/Involve-SemiBold.ttf);
}
@font-face {
  font-family: Lineyka;
  src: url(./fonts/Lineyka.ttf);
}

/* TODO: Change animation for login */
@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(500px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-500px);
  }
}

.login-content {
  view-transition-name: content;
}

::view-transition-old(login-content) {
  animation:
    5000ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    5000ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(login-content) {
  animation:
    5000ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    5000ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  user-select: none;
}

.draggable-zone {
  -webkit-app-region: drag;
}

#root {
  width: 100%;
}

.logo-text {
  font-family: Syncrone;
}

.button {
  font-family: Involve-Bold;
}

.button-bold {
  font-family: Involve-Bold;
}

.text {
  font-family: Lineyka;
}
